.agenda{
  width: auto;
  height: auto;
  border: solid 2px blue;
}

.rectangulo{
  width: auto;
  height: 100px;
  border: solid 1px green;
}

.avatar{
  width: 90px;
  height: 90px;
  border: solid 1px red;
}

.fondo{
  background: rgb(13, 210, 236);
}